* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app h1 {
  font-size: 4rem;
}

.app header {
  display: flex;
  width: 800px;
  flex-direction: column;
  justify-content: center;
}

.keyword {
  width: 800px;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.keywords {
  z-index: 1;
  font-size: 2rem;
  background-color: white;
  display: none;
  position: absolute;
  top: 215px;
  width: 800px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.keywords li:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}

.keywords .active {
  background-color: blue;
  color: white;
}

.keywords ul {
  padding: 0;
  margin: 0;
}

.keywords li {
  list-style: none;
  padding-left: 10px;
}

.search-results {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 400px);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.searchLoading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-size: 21px;
}

.searchLoading::after {
  content: "고양이를 검색하고 있습니다.";
}

.keywordLoading {
  padding: 10px;
  text-align: center;
  background: #f5f5f5;
  font-size: 13px;
  font-weight: bold;
  border-radius: 3px;
}